.aside__title {
  margin-bottom: 15px;
  margin-left: 15px;

  color: #434343;
  font-size: 20px;
  font-weight: 600;
}

/**
 * aside cities
 * end
 */

.aside-cities {
  li:not(:last-child) {
    margin-bottom: 3px;
  }

  a {
    display: block;
    padding: 22px 25px;

    font-size: 19px;
    letter-spacing: 0.4px;

    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(72, 48, 143, .2);

    &.current {
      color: @active-color;
    }
  }
}

/**
 * aside cities
 * end
 */

/**
 * aside catalog
 * start
 */

.aside-catalog {
  padding: 15px 15px 25px;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(72, 48, 143, 0.2);

  ul {
    padding-left: 15px;
    ul {
      margin-bottom: 5px;
    }
  }

  .current {
    list-style-type: disc;
  }

  a {
    font-weight: 400;
    line-height: 30px;
  }
}

.aside__form {
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 6px 6px 6px 30px;

    border-radius: 16px;
    border: 1px solid #d7d5d5;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 6px center;
  }
}

/**
 * aside catalog
 * end
 */
