.catalog-add-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;

  color: #606366;
  font-size: 15px;
  font-weight: 400;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(72, 48, 143, 0.2);

  &::before {
    margin-right: 15px;
  }

  @media (max-width: 575px) {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.item-add-form-wrap {
  padding: 25px;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(72, 48, 143, 0.2);
}

.item-add-form {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  label {
    display: block;
    margin-bottom: 20px;

    color: #424242;
    font-weight: 300;
  }

  input,
  textarea {
    width: 100%;
    margin-top: 10px;
    padding: 11px;

    border: 1px solid #cecece;
    border-radius: 2px;

    &:focus {
      background-color: #f5f6f7;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    }
  }

  .btn {
    margin-left: auto;
  }
}
