<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Philosopher:700|Roboto:300,400,500,700,900&amp;subset=cyrillic"
    rel="stylesheet">
  <link href="static/css/app.css" rel="stylesheet">
</head>

<body>

<header class="site-header-wrap">
  <div class="site-header container">
    <a class="logo-wrap" href="/">
      <img src="http://placehold.it/80x80" alt="">
      <span class="logo-text">2Ken<small>вся республика в твоих руках</small></span>
    </a>

    <nav class="site-nav site-nav--header">
      <ul>
        <li class="site-nav__dropdown-link"><a href="catalog-list.html">Каталог</a>
          <ul class="site-nav__dropdown">
            <li><a href="catalog-list.html">Шопинг</a></li>
            <li class="current"><a href="catalog-list.html">Еда</a></li>
            <li><a href="catalog-list.html">Красота и здоровье</a></li>
            <li><a href="catalog-list.html">Развлечения</a></li>
            <li><a href="catalog-list.html">Услуги</a></li>
            <li><a href="catalog-list.html">Праздник</a></li>
            <li><a href="catalog-list.html">Электроника</a></li>
            <li><a href="catalog-list.html">Свадьба</a></li>
            <li><a href="catalog-list.html">Для дома и дачи</a></li>
            <li><a href="catalog-list.html">Драгоценности</a></li>
            <li><a href="catalog-list.html">Личное развитие</a></li>
            <li><a href="catalog-list.html">Транспорт</a></li>
            <li><a href="catalog-list.html">Путешествия</a></li>
            <li><a href="catalog-list.html">Эко-продукция</a></li>
            <li><a href="catalog-list.html">Гастрономия</a></li>
            <li><a href="catalog-list.html">Банк</a></li>
          </ul>
        </li>
        <li><a href="">Блог</a></li>
        <li><a href="">Рейтинги</a></li>
      </ul>
    </nav>

    <div class="user-wrap">
      {% if false %}
        <button class="btn btn--big">Войти</button>
        <div class="auth-form-wrap auth-form-wrap--sign-in" data-form-type="sign_in" data-header-form>
          <p class="auth-form__title">Авторизация</p>
          <button class="auth-form__change-form-btn" data-form-type-link="sign_up">регистрация</button>

          <form class="auth__form">
            <input class="input" type="text" placeholder="логин" required>
            <input class="input" type="password" placeholder="пароль" required>

            <button class="btn btn--header-submit">Войти</button>
          </form>

          <p class="auth-form__or">или</p>

          <div class="soc-auth"></div>

        </div>

        <div class="auth-form-wrap auth-form-wrap--sign-up" data-form-type="sign_up">

          <p class="auth-form__title">Регистрация</p>
          <button class="auth-form__change-form-btn" data-form-type-link="sign_in">авторизация</button>

          <form class="auth__form">
            <input class="input" type="text" placeholder="логин" required>
            <input class="input" type="password" placeholder="пароль" required>
            <input class="input" type="password" placeholder="пароль еще раз" required>

            <button class="btn btn--header-submit">Зарегистрироваться</button>
          </form>

        </div>
      {% endif %}

      {% if true %}
        <a class="user__username" href="">Magomed <img src="http://placehold.it/40x40" alt="Magomed"></a>
        <div class="user__logout">
          <a href="/">Выйти</a>
        </div>
      {% endif %}
    </div>
  </div>
</header>


<div class="container">
  {% block content %}{% endblock %}
</div>


<footer class="site-footer-wrap">
  <div class="site-footer container">
    <span>2ken 2017</span>
    <nav class="site-nav">
      <ul>
        <li><a href="catalog-list.html">Каталог</a></li>
        <li><a href="">Блог</a></li>
        <li><a href="">Рейтинги</a></li>
      </ul>
    </nav>

    <div class="soc">
      <a class="soc-item--vk" href="" target="_blank"></a>
      <a class="soc-item--ig" href="" target="_blank"></a>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/lib/jquery.min.js"><\/script>')</script>
<script src="static/lib/css-polyfills.min.js"></script>
<script src="static/lib/lightslider/lightslider.min.js"></script>
<script src="static/lib/jquery.formstyler.min.js"></script>
<script src="static/js/app.js"></script>

</body>
</html>
