<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Philosopher:700|Roboto:300,400,500,700,900&amp;subset=cyrillic"
    rel="stylesheet">
  <link href="static/css/app.css" rel="stylesheet">
</head>

<body>

<header class="site-header-wrap">
  <div class="site-header container">
    <a class="logo-wrap" href="/">
      <img src="http://placehold.it/80x80" alt="">
      <span class="logo-text">2Ken<small>вся республика в твоих руках</small></span>
    </a>

    <nav class="site-nav site-nav--header">
      <ul>
        <li class="site-nav__dropdown-link"><a href="">Каталог</a>
          <ul class="site-nav__dropdown">
            <li><a href="">Шопинг</a></li>
            <li class="current"><a href="">Еда</a></li>
            <li><a href="">Красота и здоровье</a></li>
            <li><a href="">Развлечения</a></li>
            <li><a href="">Услуги</a></li>
            <li><a href="">Праздник</a></li>
            <li><a href="">Электроника</a></li>
            <li><a href="">Свадьба</a></li>
            <li><a href="">Для дома и дачи</a></li>
            <li><a href="">Драгоценности</a></li>
            <li><a href="">Личное развитие</a></li>
            <li><a href="">Транспорт</a></li>
            <li><a href="">Путешествия</a></li>
            <li><a href="">Эко-продукция</a></li>
            <li><a href="">Гастрономия</a></li>
            <li><a href="">Банк</a></li>
          </ul>
        </li>
        <li><a href="">Блог</a></li>
        <li><a href="">Рейтинги</a></li>
      </ul>
    </nav>

    <button class="btn btn--big">Войти</button>
  </div>
</header>


<div class="container">
  {% block content %}{% endblock %}
</div>


<footer class="site-footer-wrap">
  <div class="site-footer container">
    <span>2ken 2017</span>
    <nav class="site-nav">
      <ul>
        <li><a href="">Каталог</a></li>
        <li><a href="">Блог</a></li>
        <li><a href="">Рейтинги</a></li>
      </ul>
    </nav>

    <div class="soc">
      <a class="soc-item soc-item--vk" href="" target="_blank"></a>
      <a class="soc-item soc-item--ig" href="" target="_blank"></a>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/lib/jquery.min.js"><\/script>')</script>
<script src="static/lib/css-polyfills.min.js"></script>
<script src="static/lib/jquery.formstyler.min.js"></script>
<script src="static/js/app.js"></script>

</body>
</html>
