{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
  <div class="hero row">
    <aside class="col-3">
      {% include 'includes/aside-country.html' %}
    </aside>

    <main class="hero-content col-9">
      <div class="hero-images">
        {% for item in [['кофейня', 'З&М'],['выпечка', 'Тулуза'],['ресторан', 'Буржуа'],['супермаркет', 'Шафран'],'','','','','','',''] %}
          <a href="catalog-detail.html">
            <img src="http://placehold.it/1000x1000">
            <span>{{ item[0] }}&nbsp;<strong>{{ item[1] }}</strong></span>
          </a>
        {% endfor %}
      </div>
      <a class="show-more-link" href="catalog-list.html">показать все заведения</a>
    </main>
  </div>

  <div class="top-lists-wrap">
    <div class="top-lists">

      {% for top in [
      {
      'count': 10,
      'title': 'Популярные летние курорты',
      'items': ['Турция','Египет','Россия','Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'count': 7,
      'title': 'Популярные летние курорты',
      'items': ['Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'count': 5,
      'title': 'Популярные летние курорты',
      'items': ['Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'count': 7,
      'title': 'Популярные летние курорты',
      'items': ['Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'count': 10,
      'title': 'Популярные летние курорты',
      'items': ['Турция','Египет','Россия','Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'count': 5,
      'title': 'Популярные летние курорты',
      'items': ['Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'count': 10,
      'title': 'Популярные летние курорты',
      'items': ['Турция','Египет','Россия','Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'count': 5,
      'title': 'Популярные летние курорты',
      'items': ['Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'count': 7,
      'title': 'Популярные летние курорты',
      'items': ['Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'count': 10,
      'title': 'Популярные летние курорты',
      'items': ['Турция','Египет','Россия','Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'count': 5,
      'title': 'Популярные летние курорты',
      'items': ['Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'count': 5,
      'title': 'Популярные летние курорты',
      'items': ['Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      }
      ] %}
        <div class="top-list__item">
          <span class="top-list__count">ТОП-{{ top.count }}</span>
          <h3 class="top-list__title">{{ top.title }}</h3>

          <ul class="top-list__list">
            {% for item in top.items %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
