{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
  <div class="hero row">
    <aside class="col-3 hidden-md-down">
      {% include 'includes/aside-country.html' %}
    </aside>

    <select class="sm-cities hidden-lg-up">
      <option value="">Махачкала</option>
      <option value="">Буйнакск</option>
      <option value="">Дагестанские огни</option>
      <option value="">Дербент</option>
      <option value="">Избербаш</option>
      <option value="">Каспийск</option>
      <option value="">Кизляр</option>
      <option value="">Хасавюрт</option>
      <option value="">Южно-Сухокумск</option>
    </select>

    <main class="hero-content col-lg-9 col-sm-12">
      <div class="hero-images">
        {% for item in [['кофейня', 'З&М'],['выпечка', 'Тулуза'],['ресторан', 'Буржуа'],['супермаркет', 'Шафран'],'','','','','','',''] %}
          <a href="catalog-detail.html">
            <img src="http://placehold.it/1000x1000">
            <span>{{ item[0] }}&nbsp;<strong>{{ item[1] }}</strong></span>
          </a>
        {% endfor %}
      </div>
      <a class="show-more-link" href="catalog-list.html">показать все заведения</a>
    </main>
  </div>

  <div class="top-lists-wrap row">
    <div class="top-lists">

      {% for top in [
      {
      'title': 'Популярные летние курорты',
      'items': ['Турция','Египет','Россия','Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'title': 'Популярные летние курорты',
      'items': ['Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'title': 'Популярные летние курорты',
      'items': ['Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'title': 'Популярные летние курорты',
      'items': ['Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'title': 'Популярные летние курорты',
      'items': ['Турция','Египет','Россия','Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'title': 'Популярные летние курорты',
      'items': ['Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'title': 'Популярные летние курорты',
      'items': ['Турция','Египет','Россия','Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'title': 'Популярные летние курорты',
      'items': ['Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'title': 'Популярные летние курорты',
      'items': ['Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'title': 'Популярные летние курорты',
      'items': ['Турция','Египет','Россия','Украина','Абхазия','Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'title': 'Популярные летние курорты',
      'items': ['Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      },
      {
      'title': 'Популярные летние курорты',
      'items': ['Таиланд','Тунис','Руспублика Доминикана','Курорты Европы','Куба']
      }
      ] %}
        <div class="top-list__item">
          <span class="top-list__count">ТОП-{{ top.items.length }}</span>
          <h3 class="top-list__title">{{ top.title }}</h3>

          <ul class="top-list__list">
            {% for item in top.items %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
