{% extends 'base.html' %}

{% block title %}Личный кабинет - Собственные заведения{% endblock %}

{% block content %}
  <div class="row">
    <aside class="col-3">
      <div class="aside-catalog">
        <h2 class="aside__title">Личный кабинет</h2>

        <ul>
          <li class="current"><a href="">Собственные заведения</a></li>
          <li><a href="personal-fav.html">Избранное</a></li>
        </ul>
      </div>
    </aside>

    <div class="catalog-list col-9">
      <a class="catalog-add-item plus-icon" href="personal-add.html">Добавить заведение</a>

      {% for item in [
      {'title': 'Пиросмани','type': 'ресторан','address': 'ул. Пушкина, 4'},
      {'title': 'З&М','type': 'кофейня','address': 'ул. И. Казака, 27А'},
      {'title': '05.ru','type': 'магазин','address': 'пр. Имама Шамиля, 5'},
      {'title': 'Чудо света','type': 'магазин','address': 'ул. Коркмасова, 27Б'},
      {'title': 'La-creme','type': 'выпечка','address': 'ул. Дзержинского, 12'}] %}
        <div class="col-4">
          <div class="catalog-item">
            <span class="catalog-item__badge">{{ item.type }}</span>
            <a class="catalog-item__image" href="catalog-detail.html">
              <img src="http://placehold.it/265x197" alt="">
            </a>

            <h4 class="catalog-item__title"><a href="catalog-detail.html">{{ item.title }}</a></h4>
            <p class="catalog-item__address">{{ item.address }}</p>

            <div class="catalog-item__rating">
              <a class="catalog-item__rating-item" href="">105</a>
              <a class="catalog-item__rating-item" href="">2</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}
